extends layout

block content
    div(ng-controller='MainCtrl', ng-init="chats=#{JSON.stringify(chats)};user=#{JSON.stringify(user)};").container
        div.row
            if(user)
                div.col-md-4
                    h1 Chats
                    div.list-group
                        div.list-group-item
                            div.input-group
                                input(placeholder='Username' ng-model='newChat.username').form-control
                                br
                                br
                                button(ng-click='addChat(newChat)').btn.btn-primary Chat!
                                br
                                p {{response}}
                        div(ng-repeat='chat in newChats').list-group-item
                            h3(ng-click='chatClicked(chat)') {{chat.user}}
                div(ng-if='isChat').col-md-8
                    h1 Messages
                    div.panel.panel-default
                        div(style='height: 400px; overflow-y: scroll' scroll-glue).panel-body
                            div(ng-repeat='message in chat.messages').well
                                h3 {{message.user}}
                                div(ng-if='message.src')
                                    img(ng-src='{{message.src}}' width='100%')
                                div(ng-if='!message.src')
                                    p#message {{message.message}}
                                span.label.label-info {{message.timestamp}}
                        div.panel-footer
                            input(placeholder='Message' ng-model='sent.message' id='message').form-control
                            br
                            button(ng-click='sendChat(sent)').btn.btn-primary.btn-block Send!
                div(ng-if='!isChat').col-md-8
                    h1 Click a chat on the left to start.
            if(!user)
                h1 You are not signed in.
                a(href='/auth/twitter') Sign In
