doctype html
html(ng-app='app')
    head
        title Chat
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        script(src='/js/socket.io.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
        script(src='/js/scrollglue.js')
        script(src='/js/index.js')
